.badge {
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 600;
}

.badge-dot {
    position: relative;
}

.badge-dot .badge {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    position: absolute;
    top: -5px;
    right: -5px;
}
